<html>
<style type="text/css">
table, td, th
{
border-collapse:collapse;	
border:0px ;
text-align:left;
}
th
{
background-color:#FFFF66;
color:black;
text-align:center;
}
</style>
<table width="1024" height="800" border="0" bgcolor=#000000>
  <tr>
    <td width=900 height="550" bgcolor="#84ADB5">
	<table width="900" height="450" border="0" align="center" valign="center" bordercolor="#84ADB5">
	  <tr><td width="900" height="450" align="center" valign="center" bgcolor="#FFFFFF">

		<table width="400" height="169" border="0" bgcolor="#FFFFFF" valign="center">
        	<tr>
           	<th scope="col"><p><%= image_tag "rrss.gif", :width => "900", :height => "169" %></p>
           	</th>
         	</tr>
        </table>
        <table width="600" height="350" border="0" align="center" cellspacing="1" valign = top>
            <tr></tr>
			<tr><%= error_messages_for :user %><p></p></tr>
<tr><td  colheight=50% colspan=2>Welcome to the NRDPFC Road Runner Sample Submission/Tracking website.<br>
Please logon in using the following boxes.<br>
If you do not have a login yet, please click on "Create New Login" link below.<br>
<b>For help please contact Vythegi Srithayakumar by email at vsrithayakumar@nrdpfc.ca<br></b>

			<% form_tag do -%>
				<tr><td  width = "20%" height = "30" ><label for="login">Login</label><td><%= text_field_tag 'login' %></td></tr>
				<tr height = 50><td width=150><label for="password">Password</label></td><td><%= password_field_tag 'password' %></td></tr>
				<tr height = 50><td colspan=2><%= submit_tag 'Log in' %></td><td></td></tr>
 				<tr><td width = 300 colspan=2><%= link_to "Create a New Login", :controller => "/account", :action => "signup" %></td></tr>
			<% end %>
            </tr>
          </table>

         <p align="left">&nbsp;</p>
         <p align="left">&nbsp;</p>
			<tr>
              <td><div align="center">
				<%= image_tag "trentu.jpg", :alt => "1", :width => "162", :height => "50", :border => "0" %>
				<%= image_tag "nrdpfc.jpg", :alt => "1", :width => "67", :height => "50", :border => "0"  %>
				</div></td>
			</tr>
      </table>
    <p>&nbsp;</p></td>
  </tr>
   
</table></td>
  </tr>
</table>
</html>